<section class="sectors-section">
  <div class="container layout-grid">
    
    <!-- Left Content -->
    <div class="content-col">
      <h5 class="section-kicker">{{ 'HOME.SECTORS.KICKER' | translate }}</h5>
      <h2 class="section-title" [innerHTML]="'HOME.SECTORS.TITLE' | translate"></h2>
      <div class="divider"></div>
      <p class="section-desc">
        {{ 'HOME.SECTORS.DESC' | translate }}
      </p>
      
      <div class="sectors-grid">
        <div class="sector-item">
          <img src="assets/bood-design/icons/icon-corporate.svg" alt="Corporate" class="sector-icon-img">
          <span class="sector-text">{{ 'HOME.SECTORS.CORPORATE' | translate }}</span>
        </div>
        <div class="sector-item">
          <img src="assets/bood-design/icons/icon-hospitality.svg" alt="Hospitality" class="sector-icon-img">
          <span class="sector-text">{{ 'HOME.SECTORS.HOSPITALITY' | translate }}</span>
        </div>
        <div class="sector-item">
          <img src="assets/bood-design/icons/icon-healthcare.svg" alt="Healthcare" class="sector-icon-img">
          <span class="sector-text">{{ 'HOME.SECTORS.HEALTHCARE' | translate }}</span>
        </div>
        <div class="sector-item">
          <img src="assets/bood-design/icons/icon-education.svg" alt="Education" class="sector-icon-img">
          <span class="sector-text">{{ 'HOME.SECTORS.EDUCATION' | translate }}</span>
        </div>
        <div class="sector-item">
          <img src="assets/bood-design/icons/icon-retail.svg" alt="Retail" class="sector-icon-img">
          <span class="sector-text">{{ 'HOME.SECTORS.RETAIL' | translate }}</span>
        </div>
        <div class="sector-item">
          <img src="assets/bood-design/icons/icon-industrial.svg" alt="Industrial" class="sector-icon-img">
          <span class="sector-text">{{ 'HOME.SECTORS.INDUSTRIAL' | translate }}</span>
        </div>
      </div>
      
      <a href="#" class="explore-link" [innerHTML]="'HOME.SECTORS.EXPLORE_BTN' | translate"></a>
    </div>

    <!-- Right Image -->
    <div class="image-col">
      <div class="image-wrapper">
        <img src="assets/bood-design/images/expertise-bg.png" alt="Bood Expertise" class="featured-image">
      </div>
    </div>
    
  </div>
</section>
