<section class="stats-section">
  <div class="container stats-container">
    <div class="stat-item">
      <img src="assets/bood-design/icons/icon-years.svg" alt="Years" class="stat-icon-img">
      <h3 class="stat-number"><span #statNumber data-target="10">0</span>+</h3>
      <p class="stat-text">{{ 'STATS.YEARS' | translate }}</p>
    </div>
    <div class="stat-item">
      <img src="assets/bood-design/icons/icon-professionals.svg" alt="Professionals" class="stat-icon-img">
      <h3 class="stat-number"><span #statNumber data-target="500">0</span>+</h3>
      <p class="stat-text">{{ 'STATS.PROFESSIONALS' | translate }}</p>
    </div>
    <div class="stat-item">
      <img src="assets/bood-design/icons/icon-clients.svg" alt="Clients" class="stat-icon-img">
      <h3 class="stat-number"><span #statNumber data-target="300">0</span>+</h3>
      <p class="stat-text">{{ 'STATS.CLIENTS' | translate }}</p>
    </div>
    <div class="stat-item">
      <img src="assets/bood-design/icons/icon-sqmeters.svg" alt="Sq Meters" class="stat-icon-img">
      <h3 class="stat-number"><span #statNumber data-target="20">0</span>M+</h3>
      <p class="stat-text">{{ 'STATS.SQ_METERS' | translate }}</p>
    </div>
    <div class="stat-item">
      <img src="assets/bood-design/icons/icon-support-247.svg" alt="Support" class="stat-icon-img">
      <h3 class="stat-number"><span #statNumber data-target="24">0</span>/7</h3>
      <p class="stat-text">{{ 'STATS.SUPPORT' | translate }}</p>
    </div>
  </div>
</section>
